#professional-summary {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.vertical-tabs-container {
  margin: 10vh 10%;
  display: flex;
}

.tabs {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
  padding: 10px;
}

.tab {
  font-size: 14px;
  color: var(--white);
  background-color: var(--bg-dark);
}

.tab-content {
  background-color: var(--light);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
}

.Mui-selected {
  color: var(--accent);
  background-color: var(--light);
  border-right: 2px solid var(--accent);
}

.MuiTabs-indicator {
  background-color: var(--accent);
}

@media (max-width: 768px) {
  .tabs {
    flex-direction: row;
    justify-content: center;
  }

  .tab-content {
    width: 100%;
  }
}
