.home {
  margin: 0 10%;
  margin-top: 7%;
}

.home-info {
  width: 49%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  height: 60vh;
}

.justify {
  text-align: justify;
  line-height: 24px;
}

.home-stat {
  width: 100%;
  display: flex;
  align-items: center;
  width: 450px;
  justify-content: space-between;
  padding: 15px 30px;
  border-radius: 15px;
  margin-top: 15px;
  background-color: var(--light);
  border: 1px solid var(--accent);
}

.role {
  color: var(--accent);
  font-weight: bold;
}

.home-stat > p {
  background-color: var(--light);
}

.home-stat:hover {
  background-color: var(--overlay);
  color: var(--light);
  p {
    background-color: var(--overlay);
  }
}

@media (max-width: 1100px) {
  .home {
    flex-direction: column;
    justify-content: center;
  }
  .home-info {
    width: 100%;
    height: auto;
  }
  .home-stat {
    width: 90%;
  }
}
