.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  margin: 70px 0;
}

.projects {
  margin: 10vh 10%;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
