.skills {
  margin: 0 10%;
  position: relative;
}

.skills-title {
  text-align: center;
  margin-bottom: 20px;
  color: var(--accent);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 10vh;
}

.skill-wrapper {
  background-color: var(--bg-dark);
  padding: 15px;
  border-radius: 15px;
  width: 350px;
  min-height: 400px;
  margin: 25px auto;
  border: 5px solid var(--light);
  transition: transform 0.5s ease;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.carousel-item-next .skill-wrapper,
.carousel-item-prev .skill-wrapper {
  transform: scale(0.8);
}

.carousel-item.active .skill-wrapper {
  transform: scale(1.1);
}

.line {
  border: none;
  opacity: 1;
  background-color: var(--accent);
  height: 2px;
  color: var(--accent);
  border-radius: 5px;
}

.skill-list li {
  list-style: none;
}

.skill-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.skill-img {
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  padding: 5px;
  border-radius: 5px;
}

.pill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  padding: 8px 15px;
  border: 3px solid var(--light);
  transition: 0.3s ease;
}

.pill:hover {
  background-color: var(--light);
  border-color: var(--accent);
}

@media (max-width: 768px) {
  .carousel-item-next,
  .carousel-item-prev {
    display: none;
  }

  .carousel-item.active .skill-wrapper {
    transform: scale(1.1);
  }

  .skills {
    margin: 0 5%;
  }

  .skill-wrapper {
    width: 60%;
  }
  .pill {
    font-size: 13px;
  }
  .skill-img {
    width: 30px;
    height: 30px;
  }
}
