.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--light);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--medium);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--accent) var(--light);
}

.app-container {
  height: 100vh;
  overflow-y: auto;
  background-color: var(--background);
}
